# file: .github/workflows/publish.yml

name: 'Publish to Pub.dev & GitHub'

on:
  push:
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+*'

jobs:
  test:
    name: 'Test & Analyze'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: 'Install dependencies'
        run: dart pub get

      - name: 'Analyze project source'
        run: dart analyze --fatal-infos --fatal-warnings

  build:
    name: 'Build Binaries'
    needs: test
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - os: ubuntu-latest
            output: dig-linux
          - os: macos-latest
            output: dig-macos
          - os: windows-latest
            output: dig-windows.exe
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          cache: true

      - name: 'Install dependencies'
        run: dart pub get

      - name: 'Build Binary'
        run: dart compile exe bin/dig_cli.dart -o ${{ matrix.output }}

      - name: 'Upload Artifact'
        uses: actions/upload-artifact@v4
        with:
          name: binary-${{ matrix.os }}
          path: ${{ matrix.output }}

  publish:
    name: 'Publish to GitHub & Pub.dev'
    needs: build
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v4
      - uses: dart-lang/setup-dart@v1

      - name: 'Download compiled binaries'
        uses: actions/download-artifact@v4
        with:
          pattern: binary-*
          merge-multiple: true

      - name: 'Publish to pub.dev'
        run: dart pub publish --force

      - name: 'Create GitHub Release'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            dig-linux
            dig-windows.exe
            dig-macos
          generate_release_notes: true